@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
background: #000;
min-height: 200vh;
}
header
{
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.6s;
padding: 40px 100px;
}
header.sticky
{
    padding: 5px 100px;
    background: #fff;
}
header .logo
{
    position:sticky;
    font-weight: 700;
    color: rgb(136, 255, 0);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    z-index: 100000;
}
header ul 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner
{
    position:static;
    width: 100%;
    height: 100vh;
    background: url(BACKGROUND.jpg);
    background-size: cover;
}
header.sticky.logo,
header.sticky ul li a
{
color: #000;
}
